body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #38bdf8;
  margin-left: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.section {
  padding: 60px 40px;
  max-width: 1000px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  background: #020617;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
}
